{% extends 'layout.twig' %}

{% block content %}
    <h2>New Post</h2>
    <p>
        <a class="btn btn-default" href="{{ 'admin/posts' | url }}">Back</a>
    </p>
    {% if result %}
        <div class="alert alert-success">Post Saved!!</div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="txtTitle">Title</label>
            <input type="text" name='txtTitle' id='txtTitle' class="form-control">
        </div>
        <textarea class="form-control" name="txtContent" id="txtContent" rows="5"></textarea>
        <br>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
{% endblock %}
