{% extends 'layout.twig' %}

{% block content %}
    {% for blog in blogPost %}
        <div class="blog-post">
            <h2>{{ blog.title }}</h2>
            <p>Jan, 1 2020 by <a href="#">Mynor</a></p>
            <div class="blog-post-image">
                <img src="Images/blog.jpg" alt="Imagen del blog">
            </div>
            <div class="blog-post-content">
                <p>{{ blog.content }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
