{% extends 'layout.twig' %}

{% block content %}
    {% for blog in blogPost %}
        <div class="blog-post">
            <h2>{{ blog.title }}</h2>
            <p>Jan, 1 2020 by <a href="#">Mynor</a></p>
            {% if blog.img_url %}
                <div class="blog-post-image">
                    <img src="{{ blog.img_url }}" alt="Imagen del blog">
                </div>
            {% endif %}
            <div class="blog-post-content">
                <p>{{ blog.content }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
